App_Config/Schemas/Constellation.SharedContent.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:Constellation.Sitecore" elementFormDefault="qualified" targetNamespace="urn:Constellation.Sitecore" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Constellation" type="tns:Constellation.Sitecore.ConstellationCT" />
	<xs:complexType name="Constellation.Sitecore.ConstellationCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="1" name="sharedContent" type="tns:Constellation.Sitecore.Links.SharedContentConfigurationCT" />
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Constellation.Sitecore.Links.SharedContentConfigurationCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="sharedContentFolders" type="tns:Constellation.Sitecore.SharedContentFoldersCT">
				<xs:annotation>
					<xs:documentation>The SharedContentFolders.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Constellation.Sitecore.SharedContentFoldersCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="sharedContentFolder" type="tns:Constellation.Sitecore.SharedContentFolderCT">
				<xs:annotation>
					<xs:documentation>The SharedContentFolder Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Constellation.Sitecore.SharedContentFolderCT">
		<xs:attribute name="templateName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The TemplateName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rootPath" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The RootPath.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="parentPageQuery" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The ParentPageQuery.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="categorizedBySiteFolder" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The CategorizedBySiteFolder.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="pathToSiteFolder" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The PathToSiteFolder.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="folderName" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The FolderName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
