App_Config/Schemas/Constellation.SwitchingLinkProvider.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:Constellation.Sitecore" elementFormDefault="qualified" targetNamespace="urn:Constellation.Sitecore" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Constellation" type="tns:Constellation.Sitecore.ConstellationCT" />
	<xs:complexType name="Constellation.Sitecore.ConstellationCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="1" name="switchingLinkProvider" type="tns:Constellation.Sitecore.Links.SwitchingLinkProviderConfigurationCT" />
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Constellation.Sitecore.Links.SwitchingLinkProviderConfigurationCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="linkProviderRules" type="tns:Constellation.Sitecore.LinkProviderRulesCT">
				<xs:annotation>
					<xs:documentation>The LinkProviderRules.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="defaultLinkProviderType" use="required">
			<xs:annotation>
				<xs:documentation>The DefaultLinkProviderType.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Constellation.Sitecore.LinkProviderRulesCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="clear" type="tns:Constellation.Sitecore.LinkProviderRulesClearCT" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="remove" type="tns:Constellation.Sitecore.LinkProviderRulesRemoveCT" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="add" type="tns:Constellation.Sitecore.LinkProviderRuleCT">
				<xs:annotation>
					<xs:documentation>The LinkProviderRule Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Constellation.Sitecore.LinkProviderRulesRemoveCT">
		<xs:attribute name="site" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Site.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Constellation.Sitecore.LinkProviderRulesClearCT" />
	<xs:complexType name="Constellation.Sitecore.LinkProviderRuleCT">
		<xs:attribute name="site" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Site.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="linkProviderType" use="required">
			<xs:annotation>
				<xs:documentation>The LinkProviderType.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
